.card {
    list-style-type: none;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    width: 18rem;
    height: 20rem;
}
#textfmt {
    font-family: 'Lora', serif;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    font-style: normal;
}